html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-padding-top: 60px;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    // Isso vai bugar a tela quando o navegador tiver dimensionado pra um 
    // tamanho menor do que o esperado mas eu resolvo isso mais tarde.
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    padding: 1rem;
}