html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #d4f1f4;
}

header {
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  background-color: #05445e;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a.header-links {
  color: #ffffff;
}

a.header-links:visited {
  color: white;
}

.container {
  position: relative;
  margin: 1rem auto;
  width: 95%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 1.4fr 0.8fr;
      grid-template-columns: 0.4fr 1.4fr 0.8fr;
  gap: 15px 15px;
  grid-auto-flow: row;
      grid-template-areas: "user-area profile-summary user-network";
}

.user-area {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: user-area;
  background-color: #ffffff;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-image {
  width: 180px;
  height: 180px;
  margin: 20px 0;
  border-radius: 50%;
  background-image: url("/assets/Edd.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
}

.user-description {
  margin: 20px 0;
}

.user-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-summary {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: profile-summary;
  background-color: #ffffff;
  padding: 20px;
}

.summary-item {
  margin: 1rem 0;
}

.msg-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

.msg-image {
  height: 80px;
  width: 80px;
  background-color: grey;
  border-radius: 50%;
}

.msg-content {
  width: 75%;
  margin: 0 2rem;
}

.msg-body {
  margin: 1rem 0;
}

.user-network {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: user-network;
  background-color: #ffffff;
}

.section-grid {
  margin: 1rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(80px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem 1rem;
  width: 100%;
  padding: 1rem;
}

.section-tile {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
}

.tile-image {
  height: 100px;
  width: 80px;
  background-color: grey;
}

footer {
  height: 80px;
  width: 100%;
  background-color: #05445e;
  color: white;
}
/*# sourceMappingURL=style.css.map */